@use '../../../styles/mixins' as m;
@use '../../../styles/vars';
@use '../../../styles/common';

$dark-bg: #031d44;
$light-bg: #dae5f2;

.C-textinput {
  @include m.flex(initial, column, nowrap, flex-start, flex-start);

  textarea {
    height: calc(100% - 0rem);
    resize: none;
    background-color: #f5f5f5;
    color: black;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    padding: 1rem 3rem 1rem 3rem;
    z-index: 20;
    outline: none !important;
    border: none;
    border-right: 3px darkslategray dashed;
  }
  textarea:focus {
    // border: 1px solid #2196f3;
    // box-shadow: 0 0 10px #2195f334;
    // box-shadow: 0 0 10px #0000003f;
    background-color: white;
  }
}
